<div class="navbar-inner">
  <!-- We have home navbar without left link-->
  <div class="center sliding">{{title}}</div>
  <div class="right">
    <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
  </div>
</div>