<div data-page="index" class="page">
  <div class="page-content">    
    <div class="content-block-title">timelines-page works!</div>
    <a routerLink="/home" class="external">home</a>
  </div>
</div>