[data-page="news-page"] p {
    font-family: "SEC_GE_Light";
}

[data-page="news-page"] .title {
    font-family: "SEC_GE_Bold";
    font-weight: bold;
}

[data-page="news-page"] .publish-data {
    font-family: "SEC_GE_Light";
    color: #9e9e9e;
}
