<div class="page tabbar-labels-fixed">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a href="#" class="link open-panel icon-only" data-panel="right"><i class="icon icon-bars"></i></a></div>
      <div class="center">          "السعودية لشراء الطاقة" تحصل على رخصة "المشتري الرئيس" </div>
      <div class="right"><a routerLink="home" class="back link icon-only"><i class="material-icons">arrow_back</i></a></div>
    </div>
  </div>
  <div class="toolbar tabbar tabbar-labels">
    <div class="toolbar-inner">
      <a href="#tab-1" class="show-tab-1 tab-link active"><i class="icon material-icons">chrome_reader_mode</i><span class="tabbar-label">الخبر</span></a>
      <a href="#tab-2" class="show-tab-2 tab-link"><i class="icon material-icons">comment</i><span class="tabbar-label">التعليقات</span></a>
      <a href="#tab-3" class="show-tab-3 tab-link"><i class="icon material-icons">share</i><span class="tabbar-label">شارك</span></a>
    </div>
    </div>
  <div class="page-content">
    <div class="tabs-swipeable-wrap" data-observer="true">
      <div class="tabs">
        <div id="tab-1" class="tab active">
          <div class="content-block">
            <p class="title">
              "السعودية لشراء الطاقة" تحصل على رخصة "المشتري الرئيس"
            </p>
            <p class="publish-data">أمس الساعة ‏02:30 م‏</p>
            <p>أعلنت الشركة السعودية لشراء الطاقة "المشتري الرئيس" إحدى الشركات التابعة للشركة السعودية للكهرباء أنها تسلمت رخصة "المشتري الرئيس" من هيئة تنظيم الكهرباء والإنتاج المزدوج، مؤكدة أن حصولها على الرخصة يمكّنها من مزاولة جميع أنشطة ومهام "المشتري الرئيس"، ومن أبرزها طرح مشاريع شراء وبيع وتحويل الطاقة الكهربائية، وخطط استيرادها وتصديرها إلى خارج المملكة، بالإضافة إلى سرعة العمل على بدء تطوير أسواق تجارة الطاقة الكهربائية وخدماتها، وبيع وتطوير خدمات المنظومة الكهربائية خلال السنوات القادمة بالإضافة إلى الحصول على الوقود الأساسي والوقود الاحتياطي لتوريده إلى المرخص لهم بالإنتاج، وإدارة حساب صندوق الموازنة الذي يهدف إلى تغطية العجز بين الإيراد المطلوب والإيراد الفعلي.
وبيّن الأستاذ أسامة بن عبدالوهاب خوندنة الرئيس التنفيذي للشركة السعودية لشراء الطاقة "المشتري الرئيس"، بأن الشركة تخطط لتطوير خدمات سوق الكهرباء، بما يتناسب مع خارطة الطريق التي وضعها المنظم في مجال صناعة الطاقة الكهربائية بالمنطقة، لاسيما وأن المملكة العربية السعودية تنتج أكثر من ربع إنتاج الدول العربية مجتمعة من الكهرباء، مشيراً إلى دخول المشتري الرئيس في اتفاقيات لشراء الطاقة وتحويلها، والدخول في عمليات البيع المستمر، وبيع الطاقة الكهربائية بالجملة للمرخص لهم للبيع بالتجزئة، وإلى كبار المستهلكين.
يُذكر بأن الشركة السعودية لشراء الطاقة "المشتري الرئيس" ذات مسؤولية محدودة مملوكة بالكامل للشركة السعودية للكهرباء وأنها حصلت على الموافقات اللازمة من الجهات النظامية المختصة تنفيذاً للأمر السامي الكريم والقاضي باستقلالية المشتري الرئيس، ضمن رؤية المملكة العربية السعودية 2030، وخططها لإعادة هيكلة الاقتصاد الوطني، والتي من ضمنها تحقيق التنافسية في قطاع الطاقة الكهربائية بالمملكة.</p>
          </div>
        </div>
        <div id="tab-2" class="tab">
          <div class="content-block">
            <p>


تمكن 25 مهندساً وفنياً سعودياً بمحطة توليد القرية المركبة التابعة للشركة السعودية للكهرباء في تحقيق إنجاز يُعد هو الأول على مستوى المملكة في غضون 11 يوم عمل فقط، وذلك من خلال إجراء عمليات صيانة فنية بالمحطة، وفقاً للقواعد والأنظمة الهندسية والتقنية المعتمدة من الشركة المصنعة مع الالتزام بكافة معايير الصحة والأمن والسلامة المهنية العالمية. وأوضحت الشركة أن كوادر المحطة من مهندسين وفنيين نجحوا في استبدال ضاغط الهواء بالتوربينات الغازية بعد إجراء عدد من الدراسات المستفيضة مع الشركة المصنعة لمناقشة الحلول الممكنة لتجنب المشاكل أثناء عملية التشغيل الاعتيادية بالمحطة، والتي قد تحدث تلف لريش ضاغط الهواء بسبب عمليات الارتداد أو وجود مشاكل في الريش، حيث عمل الفريق على وضع خطة للعمل لإجراء الصيانة المطلوبة، دون الاستعانة بأي عنصر من عناصر الشركة المصنعة. وأكدت "السعودية للكهرباء" أن من أهم فوائد هذا العمل هو اكتساب كوادرها الوطنية الموجودة بالمحطات القدرة والمعرفة على استبدال أياً من ريش مراحل ضاغط الهواء لهذا الطراز من التوربينات حيث أصبحت مستعدة لنقل الخبرة المكتسبة لمحطات الشركة وخارجها، مبينة أن اكتساب هذه القدرات المميزة هو نتاج مراحل تدريب وتأهيل المهندسين والفنيين للوصول إلى أعلى المستويات التي تؤهلهم للقيام بمثل هذه الأعمال الصعبة وفق مبادرات التحول الاستراتيجي بالشركة والتي تتوافق مع رؤية المملكة 2030، والتي تهدف إلى دعم تنوع الاقتصاد الوطني، والاعتماد على شباب الوطن في كافة مواقع العمل والبناء، بالإضافة الى تحقيق وفر مالي يقدر بـ 11 مليون ريال. يُذكر أن محطة القرية المركبة تُعد واحدة من أكثر محطات التوليد كفاءة في العالم، والتي يتم إدارتها وتشغيلها بأيدي خبراء ومهندسين وفنيين سعوديين بنسبة مئوية تصل إلى 84 في المائة من إجمالي فريق عمل المحطة، فيما سيتم خلال الثلاث سنوات القادمة إعادة هيكلة فريق العمل ليصبح من الكوادر والكفاءات السعودية بالكامل، بعد أن نجحوا في الوصول بالمحطة إلى تحقيق أرقام قياسية سواء فيما يتعلق بالكفاءة التشغيلية أو بتوفير الوقود المكافئ واستخدام أحدث التقنيات في مجال توليد الطاقة الكهربائية بنظام الدورة المركبة.

            </p>
          </div>
        </div>
        <div id="tab-3" class="tab">
          <div class="content-block">
            <p>
              

تنطلق، غداً الخميس 13/7/2017م، فعاليات ملتقى البيئة 2017م، الذي تنظمه الشركة السعودية للكهرباء، بمركز الامير سلطان بن عبد العزيز للعلوم والتقنية "سايتك" بالخبر، بهدف إبراز الجهود المبذولة للمحافظة على البيئة، وتعزيز التواصل وخلق فرص لتبادل المعارف والخبرات بين الجهات ذات العلاقة، وذلك بحضور عدد من المسؤولين وممثلي الجهات الحكومية والمختصين في هذا المجال.
وأوضحت الشركة السعودية للكهرباء أن الملتقى يشهد مشاركة عدد كبير من الجهات الحكومية، من أبرزها أمانة المنطقة الشرقية، وشركة ارامكو السعودية، والهيئة العامة للأرصاد وحماية البيئة، وجامعة الإمام عبد الرحمن الفيصل بالدمام، ووحدة حماية البيئة بهيئة حقوق الإنسان، وغيرها من الجهات ذات العلاقة في المجتمع، مؤكده أن الملتقى يُعد فرصة هامة لتبادل الخبرات في مجال المحافظة على البيئة ومنصة بارزة للاطلاع على تجارب الأخرين والاستفادة من الطرق والوسائل الحديثة في الحفاظ على البيئة ورفع مستوى الاهتمام بها، وتعزيز وتطوير الشراكات مع المختصين في إطار سعيها للاهتمام والمحافظة على البيئة، ودورها الداعم للمنظمات والجهات والهيئات والجمعيات الوطنية والمناسبات ذات العلاقة.
وبينت الشركة أن الملتقى سوف يستعرض عدد من أوراق العمل الخاصة ببعض الجهات المشاركة، والتي تتمحور حول أثر التلوث البيئي في الأوساط الحيوية، وطرق إعادة تدوير مخلفات المنازل وتحويلها الى أسمدة باستخدام تقنيات حديثة، وأثر التسريبات البترولية على البيئة في محطات التوليد، وغيرها من المشاركات العلمية الثرية، والتي سوف يقدمها نخبة من المستشارين والمختصين في مجال البيئة.
يُذكر أن "السعودية للكهرباء" تعمل على تعزيز الاعتماد على مصادر الطاقة النظيفة والاستخدام الامثل للموارد واعادة الاستخدام والتدوير، واتخاذ تدابير التقليل من النفايات بالإضافة إلى الامتثال لكافة القوانين واللوائح البيئية السائدة ، حيث يتم مراقبة مستوى التوافق مع المقاييس البيئية العالمية والمقاييس البيئية المحدثة الصادرة عام 2014م من الهيئة العامة للأرصاد وحماية البيئة من خلال التدقيق الدوري المتوافق مع ISO 19001: 2011 ، و قامت الشركة ببدء انتاج الطاقة من مصادر الطاقة الشمسية وطاقة الرياح وتطبيق برامج ترشيد استهلاك الطاقة الكهربائية بجميع المواقع الإدارية بالشركة وتوفير استهلاك الطاقة في مكاتبها من خلال تطبيق برامج وحلول تقنية للتحكم في تشغيل الخدمة في مبانيها، وكذلك تطبيق برامج ترشيد استهلاك الورق ، بالإضافة إلى تطبيق العزل الحراري في المباني، والذي ساهم في تقليل الفاقد في استهلاك الطاقة الكهربائية.
</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>