/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'SEC_GE_Bold';
    src: url('assets/fonts/ge_ss_two_bold.eot');
    src: url('assets/fonts/ge_ss_two_bold.eot') format('embedded-opentype'),
         url('assets/fonts/ge_ss_two_bold.woff2') format('woff2'),
         url('assets/fonts/ge_ss_two_bold.woff') format('woff'),
         url('assets/fonts/ge_ss_two_bold.ttf') format('truetype'),
         url('assets/fonts/ge_ss_two_bold.svg#GE_SS_Two_Bold') format('svg');
}
 @font-face {
    font-family: 'SEC_GE_Medium';
    src: url('assets/fonts/ge_ss_two_medium.eot');
    src: url('assets/fonts/ge_ss_two_medium.eot') format('embedded-opentype'),
         url('assets/fonts/ge_ss_two_medium.woff2') format('woff2'),
         url('assets/fonts/ge_ss_two_medium.woff') format('woff'),
         url('assets/fonts/ge_ss_two_medium.ttf') format('truetype'),
         url('assets/fonts/ge_ss_two_medium.svg#GE_SS_Two_Medium') format('svg');
} 
@font-face {
    font-family: 'SEC_GE_Light';
    src: url('assets/fonts/ge_ss_two_light.eot');
    src: url('assets/fonts/ge_ss_two_light.eot') format('embedded-opentype'),
         url('assets/fonts/ge_ss_two_light.woff2') format('woff2'),
         url('assets/fonts/ge_ss_two_light.woff') format('woff'),
         url('assets/fonts/ge_ss_two_light.ttf') format('truetype'),
         url('assets/fonts/ge_ss_two_light.svg#GE_SS_Two_Light') format('svg');
}

body {
    font-family: SEC_GE_Light;
}

.framework7-root.theme-azure {
    padding-top: 0!important;
    background-color: #365CA3;
}

.page {
    margin-top: 0px;
}

body.theme-azure {
    background-color: #365CA3;
}

.navbar.theme-azure, .searchbar.theme-azure, .subnavbar.theme-azure, .theme-azure .navbar, .theme-azure .searchbar, .theme-azure .subnavbar, .theme-azure .toolbar, .toolbar.theme-azure {
    background-color: #365CA3;
}

.tab  {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

[data-page="news-page"] .page-content {
    padding-bottom: 48px;
}

[data-page="news-page"] {
    /*font-family: SEC_GE_Medium;*/
}

.bold-font {
    font-family: SEC_GE_Bold;
}

.status-bar-overlays .navbar-through .tabbar-labels ~ .page-content {
    padding-top: 148px;
}

.status-bar-overlays .navbar-fixed .toolbar, .status-bar-overlays .navbar-through .toolbar {
    top: 76px;
}
 
.status-bar-overlays .navbar {
    height: 76px;
} 

.status-bar-overlays .navbar-inner {
    padding-top: 20px;
}

.status-bar-overlays .navbar-fixed .page-content,
.status-bar-overlays .navbar-through .page-content,
.status-bar-overlays .navbar-fixed.pages .page-content,
.status-bar-overlays .navbar-through.pages .page-content,
.status-bar-overlays .navbar-fixed.view .page-content,
.status-bar-overlays .navbar-through.view .page-content {
    padding-top: 76px;
}

.status-bar-overlays .tabs-swipeable-wrap {
    margin-top: 72px;
}

.ks-card-header-pic .card-header {
    height: auto;
}

#profile-pic {
    width: 100px;
    height: 100px;
    background: url(assets/img/profile-picture.jpg);
    position: absolute;
    border-radius: 50%;
    background-size: cover;
    top: -2px;
}

html.with-statusbar-overlay.ios .framework7-root .panel 
{
    padding-top: 0px;
}