[data-page="home"] .swiper-container {
  font-size: 18px;
  height: 100px;
  z-index: 20;
}

[data-page="home"] .swiper-container .swiper-slide {
    border: none;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/*.vjs-poster {
    display: block!important;
    background-image: url(../../assets/img/oceans.png)!important;
}*/

.pull-to-refresh-layer {
    margin-top: -40px;
}

.panel .navbar {
    height: 76px;
}

.panel .navbar-inner {
    padding-top: 20px;
}

.panel .panel-status-overlay {
    position: absolute;
    height: 30px;
    width: 100%;
    z-index: 10;
    background: rgba(54,92,163,1);
    background: -moz-linear-gradient(top, rgba(54,92,163,1) 0%, rgba(54,92,163,1) 66%, rgba(54,92,163,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(54,92,163,1)), color-stop(66%, rgba(54,92,163,1)), color-stop(100%, rgba(54,92,163,0)));
    background: -webkit-linear-gradient(top, rgba(54,92,163,1) 0%, rgba(54,92,163,1) 66%, rgba(54,92,163,0) 100%);
    background: -o-linear-gradient(top, rgba(54,92,163,1) 0%, rgba(54,92,163,1) 66%, rgba(54,92,163,0) 100%);
    background: -ms-linear-gradient(top, rgba(54,92,163,1) 0%, rgba(54,92,163,1) 66%, rgba(54,92,163,0) 100%);
    background: linear-gradient(to bottom, rgba(54,92,163,1) 0%, rgba(54,92,163,1) 66%, rgba(54,92,163,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#365ca3', endColorstr='#365ca3', GradientType=0 );
}

[data-page="home"] .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px 3px;
}

[data-page="home"] .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 100%;
    /* background: transparent; */
    opacity: 0.2;
    /* border: 1px solid white !important; */

    background: #c7c7c7;
    border: 1px solid #9d9d9d !important;
}

[data-page="home"] .swiper-pagination-bullet-active {
    opacity: 1;
    /* background: white; */
    background: none repeat scroll 0 0 #f18a1f;
    border: 1px solid #d3730f;
}

[data-page="home"] #swiper-slide-1 {
    background-image: url(../../assets/img/slide-1.jpg);
}

[data-page="home"] #swiper-slide-2 {
    background-image: url(../../assets/img/slide-2.jpg);
}

[data-page="home"] #swiper-slide-3 {
    background-image: url(../../assets/img/slide-3.jpg);
}

[data-page="home"] .navbar-through.pages .page-content {
    padding-top: 0px;
}

[data-page="home"] .open-panel {
    position: absolute;
    color: white;
    z-index: 30;
    opacity: 0.8;
    padding: 6px;
    margin-top: 30px;
    padding-right: 18px;
    padding-bottom: 18px;
}

[data-page="home"] .search {
    position: absolute;
    color: white;
    z-index: 30;
    opacity: 0.8;
    padding: 6px;
    margin-top: 30px;
    padding-left: 18px;
    padding-bottom: 18px;
    left: 0px;
}

.video-js .vjs-poster {
    background-image: url(../../assets/img/oceans.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-color: #000000;
    /* display: block!important; */
}

.video-js *:focus {
    outline-color: transparent;
}

.card-title {
    font-family: "SEC_GE_Bold";
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    font-weight: bold;
    pointer-events: none;
}

.card-content {
    font-family: "SEC_GE_Light";
}

.card-footer {
    font-family: "SEC_GE_Medium";
    font-size: 14px;
}

.card-footer i {
    font-size: 14px;
    vertical-align: sub;
}