<div class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a href="#" class="link open-panel icon-only" data-panel="right"><i class="icon icon-bars"></i></a></div>
      <div class="center">تواصل معنا</div>
      <div class="right"><a routerLink="home" class="back link icon-only"><i class="material-icons">arrow_back</i></a></div>
    </div>
  </div>
  <div class="page-content">
    <div class="content-block-title bold-font">معلومات أساسية</div>
    <form class="list-block inputs-list">
      <ul>
        <li>

          <div class="item-content">
            <div class="item-media"><i class="icon material-icons">person_outline</i></div>
            <div class="item-inner">
              <div class="item-title floating-label">الاسم</div>
              <div class="item-input">
                <input type="text" placeholder="الاسم كامل" />
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon material-icons">email</i></div>
            <div class="item-inner">
              <div class="item-title floating-label">البريد الالكتروني</div>
              <div class="item-input">
                <input type="email" placeholder="البريد الالكتروني" />
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon material-icons">language</i></div>
            <div class="item-inner">
              <div class="item-title floating-label">الموقع الكتروني</div>
              <div class="item-input">
                <input type="url" placeholder="الموقع الالكتروني" />
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon material-icons">lock_outline</i></div>
            <div class="item-inner">
              <div class="item-title floating-label">كلمة المرور</div>
              <div class="item-input">
                <input type="password" placeholder="كلمة المرور" />
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon material-icons">call</i></div>
            <div class="item-inner">
              <div class="item-title floating-label">هاتف</div>
              <div class="item-input">
                <input type="tel" placeholder="الهاتف" />
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon material-icons">people_outline</i></div>
            <div class="item-inner">
              <div class="item-title label">النوع</div>
              <div class="item-input">
                <select>
                  <option>ذكر</option>
                  <option>أنثي</option>
                </select>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon material-icons">today</i></div>
            <div class="item-inner">
              <div class="item-title label">تاريخ الميلاد</div>
              <div class="item-input">
                <input type="date" placeholder="تاريخ الميلاد" value="2014-04-30" />
              </div>
            </div>
          </div>
        </li>
        <li class="align-top">
          <div class="item-content">
            <div class="item-media"><i class="icon material-icons">chat_bubble_outline</i></div>
            <div class="item-inner">
              <div class="item-title label">معلومات اضافية</div>
              <div class="item-input">
                <textarea class="resizable"></textarea>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </form>
  </div>
</div>